mixin cards()
    section.section.cards 
        .cards__body.container 
            .cards__content 
                .cards__item    
                    .cards__img 
                        img(draggable="false" src="@img/cards-img-1.png" alt="")
                    p.cards__subtitle Settle new Worlds 
                    p.cards__p Settle new worlds. This is main idea that connects our community. Marscolony is all about expanding to new planets, establishing multi-planet societies and governing those planet 

                .cards__item    
                    .cards__img 
                        img(draggable="false" src="@img/cards-img-2.png" alt="")
                    p.cards__subtitle Earn pCLNY passively  
                    p.cards__p Earn passive income by holding your land NFT. Each land plot has universal basic income component  generating an income in form of pCLNY tokens over the next 21 years. See our #[a(href="https://people.marscolony.io/t/mars-colony-tokenomic/53" target="_blank" rel="noreferrer") tokenomics] for details 
                .cards__item    
                    .cards__img 
                        img(draggable="false" src="@img/cards-img-3.png" alt="")
                    p.cards__subtitle Evolve colonies & earn  
                    p.cards__p Send avatars to missions and earn rewards. Missions power Colony evolving it and enabling technological advancements such 

                .cards__item    
                    .cards__img 
                        img(draggable="false" src="@img/cards-img-4.png" alt="")
                    p.cards__subtitle Become a part of virtual of meta-society 
                    p.cards__p Joine the first meta-society governed by future colonists
            p.cards__txt.txt.disable-md 03_______06