mixin footer()
    footer.footer
        .footer__body.container 
            ul.footer__list.enable-xl 
                li.footer__li
                    a(href="#!").footer__link.active Home 
                li.footer__li
                    a(href="#about").footer__link About 
                li.footer__li
                    a(href="#planets").footer__link Planets 
                li.footer__li
                    a(href="#marscolony").footer__link Marscolony
                li.footer__li
                    a(href="#partners").footer__link Partners 
                li.footer__li
                    a(href="#security").footer__link Security
            .footer__content 
                a(href="index.html").footer__logo MarsColony
                ul.header__list.disable-xl 
                    li.footer__li
                        a(href="#!").footer__link.active Home 
                    li.footer__li
                        a(href="#about").footer__link About 
                    li.footer__li
                        a(href="#planets").footer__link Planets 
                    li.footer__li
                        a(href="#marscolony").footer__link Marscolony
                    li.footer__li
                        a(href="#partners").footer__link Partners 
                    li.footer__li
                        a(href="#security").footer__link Security
                .footer__icons 
                    a(href="https://twitter.com/marscolonyio" rel="noreferrer" target="_blank").footer__icon 
                        img(draggable="false" src="@img/header-icon-1.svg" alt="") 
                    a(href="https://t.me/marscolonychannel" rel="noreferrer" target="_blank").footer__icon 
                        img(draggable="false" src="@img/header-icon-2.svg" alt="") 
                    a(href="https://discord.com/invite/marscolony" rel="noreferrer" target="_blank").footer__icon 
                        img(draggable="false" src="@img/header-icon-3.svg" alt="") 
