mixin intro()
    section.section.intro
        video(autoplay loop muted)
            source(src="files/intro-video.mp4") 
        .intro__body.container 
            .intro__wrapper
                p.intro__desc Colonization Metaverse for Mars and Beyond
                h1.intro__title Mars#[wbr]Colony
                .intro__content 
                    p.intro__p Polygon NFT mint is coming
                    .intro__timer#timer  
                        .intro__item 
                            p.intro__subtitle Days
                            span.intro__num#day 14
                        p.intro__dots :
                        .intro__item 
                            p.intro__subtitle Hours
                            span.intro__num#hours 05
                        p.intro__dots :
                        .intro__item 
                            p.intro__subtitle Minutes
                            span.intro__num#minutes 44
                        p.intro__dots :
                        .intro__item 
                            p.intro__subtitle Seconds 
                            span.intro__num#seconds 13
                    a(href="#!").intro__btn.btn Join the whitelist
            p.intro__txt.disable-md 01_______06