mixin partners()
    section.section.partners.container#partners
        .partners__body
            .partners__wrapper
                h2.partners__title.title partners
                .partners__content 
                    .partners__img 
                        img(draggable="false" src="@img/partners-img-1.svg" alt="")
                    .partners__img 
                        img(draggable="false" src="@img/partners-img-2.svg" alt="")
                    .partners__img 
                        img(draggable="false" src="@img/partners-img-3.svg" alt="")
            p.partners__txt.txt.disable-md 05_______06