mixin planets()
    section.section.planets#planets
        h2.planets__title.title.disable-lg OUR Planets 
        h2.planets__title.title.enable-lg OUR worlds
        .planets__wrapper
            .planets__inner.container
                .planets__body
                    .planets__content 
                        h2.planets__subtitle.title Polygon planet: 
                        .planets__list 
                            .planets__item 
                                p.planets__p Universe
                                span.planets__span Polygon
                            .planets__item 
                                p.planets__p Discovered
                                span.planets__span in Epoch 3
                            .planets__item 
                                p.planets__p status
                                span.planets__span Settlement in progress
                            .planets__item 
                                p.planets__p Colonization progress
                                span.planets__span 3k land plots have been claimed
                        a(href="#!").planets__btn.btn Claim your land on Polygon
                    .planets__img 
                        img(draggable="false" src="@img/planets-img.png" alt="")
                p.planets__txt.txt.disable-md 02_______06
        .planets__wrapper#marscolony
            .planets__inner.container
                .planets__body
                    .planets__img 
                        img(draggable="false" src="@img/planets-img-2.png" alt="")
                    .planets__content 
                        h2.planets__subtitle.title Mars planet:  
                        .planets__list 
                            .planets__item 
                                p.planets__p Universe
                                span.planets__span Harmony ONE 
                            .planets__item 
                                p.planets__p Discovered
                                span.planets__span in Epoch 1
                            .planets__item 
                                p.planets__p Status 
                                span.planets__span Settled 
                            .planets__item 
                                p.planets__p Arrived on mars
                                span.planets__span 3k land plots have been claimed
                            .planets__item 
                                p.planets__p Base station 
                                span.planets__span Unlocked
                            .planets__item 
                                p.planets__p mining & robot missions
                                span.planets__span In progress
                            .planets__item 
                                p.planets__p # of Facilities build 
                                span.planets__span 2324 
                        a(href="#!").planets__btn.btn Claim your land on Polygon
                p.planets__txt.txt.disable-md 03_______06
