mixin reports()
    section.section.reports.container#security
        .reports__row
            .reports__content 
                h2.reports__title.title MarsColony Security Audit reports
                p.reports__desc Game contracts audit report → 135 #[br] #[br] Liquidity Mining contract audit report → 55
            .reports__img 
                img(draggable="false" src="@img/reports-img.png" alt="")
        p.reports__txt.txt.disable-md 05_______06
