@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/helvetica-Light.woff2") format("woff2"), url("../fonts/helvetica-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/helvetica-Light.woff2") format("woff2"), url("../fonts/helvetica-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica-Regular.woff2") format("woff2"), url("../fonts/Helvetica-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/helvetica-rounded-bold-5871d05ead8de.woff2") format("woff2"), url("../fonts/helvetica-rounded-bold-5871d05ead8de.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica-Regular.woff2") format("woff2"), url("../fonts/Helvetica-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"), url("../fonts/HelveticaNeue-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/helvetica-rounded-bold-5871d05ead8de.woff2") format("woff2"), url("../fonts/helvetica-rounded-bold-5871d05ead8de.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Play;
	font-display: swap;
	src: url("../fonts/Play-Bold.woff2") format("woff2"), url("../fonts/Play-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"), url("../fonts/HelveticaNeue-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Play;
	font-display: swap;
	src: url("../fonts/Play-Bold.woff2") format("woff2"), url("../fonts/Play-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Sarpanch;
	font-display: swap;
	src: url("../fonts/Sarpanch-Bold.woff2") format("woff2"), url("../fonts/Sarpanch-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Sarpanch;
	font-display: swap;
	src: url("../fonts/Sarpanch-Bold.woff2") format("woff2"), url("../fonts/Sarpanch-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
